body {
    background-color: #071C34;
    font-family: 'DM Sans', sans-serif;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 36px;
    width: 100px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.registration-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
    padding: 20px; 
}

.new-applicant{
    margin-top: 10px;
    flex:1;
}

.logo-div{
    width: 100%;
}
.logo {
    height: 500px;
}

.register {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.register-text {
    margin-bottom: 10px;
    font-size: 17px;
    text-align: center;
}

.button-div {
    display: flex;
    justify-content: center;
    flex: 1;
}

.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content{
    height: 250px;
    width: 500px;
    border-radius: 6px;
    background: #071C34;
    position: relative;
    display: flex;
    flex-direction: column;
}

.close-button{
    display: flex;
    justify-content: end;
    align-items: center;
}

.fresh{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.close{
    font-size: 45px;
    color: white;
    text-decoration: none;
}